*,
::before,
::after {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: inherit;
  background-color: transparent;
}

html {
  min-height: 100vh;
  line-height: normal;
}

body {
  margin: 0;
}

img,
svg {
  max-width: 100%;
  border-style: none;

  font-style: italic;
  vertical-align: bottom;
}

button {
  cursor: pointer;
}
